name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Deploy al servidor FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: 21
          # Directorio correcto del hosting ITIU
          server-dir: /public_html/
          # Tu código local
          local-dir: ./
          exclude: |
            **/.git*
            **/.github*
            README.md
            **/vendor
            **/node_modules
